[{lager, [{colored, true},
          {handlers,
           [{lager_console_backend,
             [debug, {lager_default_formatter, [time, " ", color, "[", severity, "] ", module, ":", function, ":", line, " ", message, "\e[0;38m\n"]}]}]}]},
 {asteroids, [{static_files, "../../../web"},
              {paths, ["/js/", "/css/", "/res/"]},
              {port, 8080}]}].